$primary: #5e624c;
$secondary: #bcc499;
$info: #f3f7fb;
$dark: #000;
$font-family-sans-serif: 'Lato', sans-serif;

$btn-border-radius: 50px;
$card-border-color: transparent;

$headings-font-weight: 700